@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


$black-color: #001122;
$gray-color: #888888;
$white-color: #ffffff;
$gray-label-color: #888888;

$font-family: "Inter", sans-serif;
